<div class="form card border-dark">
  <div class="text-center card-header bg-dark text-white fw-bold fs-3">Editing merchant</div>
  <div class="card-body">
    <%= render "form", merchant: @merchant %>
  </div>
  <div class="card-footer text-center">
    <%= link_to 'Back to merchant', merchant_path, class: "btn btn-outline-dark" %>
  </div>
</div>